
.dvi1{
    height: 300px;
    width: 25%;
    background-color: rgb(12, 75, 104);
    float: left;
}
.dvi2{
    height: 300px;
    width: 25%;
    background-color: rgb(104, 87, 12);
    float: left;
}
.dvi3{
    height: 300px;
    width: 25%;
    background-color: rgb(233, 25, 25);
    float: left;
}
.div4{
    height: 300px;
    width: 25%;
    background-color: rgb(0, 87, 128);
    float: left;
}
.dvi5{
    height: 600px;
    width: 25%;
    background-color: rgb(7, 59, 69);
    float: left;
}
.dvi6{
    height: 600px;
    width: 25%;
    background-color: rgb(16, 239, 42);
    float: left;
}       
.dvi7{
    height: 600px;
    width: 25%;
    background-color: rgb(155, 148, 155);
    float: left;
}
.dvi8{
    height: 600px;
    width: 25%;
    background-color: rgb(255, 0, 234);
    float: left;
}
.dvi9{
    height: 600px;
    width: 25%;
    background-color:  rgb(211, 80, 28);
    float: left;
}
.dvi10{
    height: 600px;
    width: 25%;
    background-color:  rgb(235, 12, 42);
    float: left;
}
.dvi11{
    height: 600px;
    width: 25%;
    background-color:  rgb(252, 15, 228);
    float: left;
}
.dvi12{
    height: 600px;
    width: 25%;
    background-color:  rgb(241, 53, 15);
    float: left;
}
.dvi13{
    height: 200px;
    width: 25%;
    background-color: rgb(0, 255, 60);
    float: left;
}
.dvi14{
    height: 200px;
    width: 25%;
    background-color: rgb(39, 33, 220);
    float: left;
}    
.dvi15{
    height: 200px;
    width: 25%;
    background-color: rgb(238, 92, 19);
    float: left;
}
.dvi16{
    height: 200px;
    width: 25%;
    background-color: rgb(127, 11, 21);
    float: left;
}